@import 'forms/custom-checkbox';
@import 'forms/custom-number-input';
@import 'forms/custom-radio';
@import 'forms/custom-select';

$label-offset: 20px;

@at-root {
  $error-color: $color-red;

  %validation-error-color {
    color: $error-color;
  }

  %validation-error-border {
    border-color: $error-color;
  }

  %validation-error-placeholder {
    &::placeholder {
      @extend %validation-error-color;
    }
  }
}

%form-input-field {
  $font-size: $font-size-desktop-small;
  $height: ($font-size * 2);

  position: relative;
  width: 100%;
  height: $height;
  transition: border $transition-time;
  border: none;
  border-bottom: 1px solid $color-grey;
  // TODO: This is bad for accessibility. See ticket: https://functionite.atlassian.net/browse/SF-54
  outline: none;
  color: $color-purple;
  font-size: $font-size;
  line-height: $height;

  &:focus {
    border-color: $color-purple;
  }
}

label {
  &.validation-error {
    @extend %validation-error-color;
  }
}

.form-input-field {
  @extend %form-input-field;

  &.validation-error {
    @extend %validation-error-placeholder;
  }
}

.floating-label {
  $initial-offset: 5px;

  margin-top: $initial-offset;
  color: $color-purple-text;
  font-size: $font-size-mobile-small;
  opacity: 0.7;
  will-change: transform;
  pointer-events: none;

  @include position(
    $position: absolute,
    $left: 0
  );

  &.expanded {
    transform: translateY(-$label-offset - $initial-offset);
    pointer-events: all;
  }

  // It enables animation of floating labels after page loading.
  &.smooth {
    transition: transform ($transition-time * 2) ease-out;
  }

  &.validation-error {
    @extend %validation-error-color;
  }
}

.form-error {
  margin-bottom: $offset-base;
  font-size: $font-size-mobile-small;

  @extend %validation-error-color;
}

textarea {
  padding: ($offset-base / 3);
  border: 1px solid $color-grey;
  color: $color-purple;

  &:focus {
    border-color: $color-purple;
  }

  &.validation-error {
    @extend %validation-error-placeholder;
  }

  @extend %font-montserrat-regular;
}

form {
  // For now, we assume that the ul appears in form only as a list of
  // validation errors.
  // TODO: Use a specific class for the errors list instead of using
  // the ul selector when SF-278 is done.
  ul {
    position: absolute;
    margin: 0;
    margin-top: -$label-offset;
    padding: 0;
    transition: opacity ($transition-time * 4);
    font-size: $font-size-mobile-small;
    list-style: none;
    will-change: opacity;

    @extend %validation-error-color;

    &.collapsed {
      opacity: 0;
    }
  }

  // The selector occurs because of our forms’ structure.
  // TODO: Reconsider it when SF-278 is ready.
  // scss-lint:disable SelectorDepth
  > div,
  > div > div,
  > div > div > div > div {
    position: relative;
  }
  // scss-lint:enable SelectorDepth

  .error:not(input) {
    // The padding and background are added for covering floating label.
    padding-bottom: 10px;
    background: $color-white;
    font-size: $font-size-mobile-small;

    @include position(
      $position: absolute,
      $top: -$label-offset,
      $left: 0
    );

    @extend %validation-error-color;
  }

  .payment-summary {
    .error:not(input) {
      background: $color-grey;
    }
  }
}
