//  Grid factory
//  usage example:
//  .el {
//    @extend %grid-1;
//  }

%grid-full {
  width: 100%;
}

@mixin grid(
  $size,
  $margin: 0
) {
  $width: calc(100% / #{$size} - #{$margin});

  width: $width;
  flex-basis: $width;
}

@for $col from 1 through $grid-columns-count {
  %grid-#{$col} {
    @extend %grid-full;

    @media only screen and #{$medium} {
      @include grid($grid-columns-count / $col);
    }
  }
}
