.social-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  background: $color-purple;
  list-style-type: none;

  .social-item {
    $gap: 10px;

    display: flex;
    margin-right: $gap;
    font-size: $font-size-regular;

    &:last-child {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .social-anchor {
    @include button-alternate($border-color-hover: $color-purple);
    @include button-round;
  }

  .phone-anchor {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon-phone {
      margin-right: ($offset-base / 2);
    }
  }
}
