%video {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: $border-radius-large;
  background: $color-purple;
  color: $color-white;

  @extend %font-bebasneue-bold;

  .cart-button {
    $size: 55px;
    $color-primary: $color-white;
    $color-secondary: $color-green;

    @include button-alternate(
      $size,
      $background-color: $color-primary,
      $background-color-hover: $color-secondary,
      $border-color: $color-primary,
      $border-color-hover: $color-secondary,
      $text-color: $color-secondary,
      $text-color-hover: $color-primary
    );
    @include button-round($size);
    @include position(
      $position: absolute,
      $right: 15px,
      $bottom: (-$size / 2)
    );
  }

  .video-title {
    margin: 0;
    font-size: $font-size-bigger;
    text-transform: uppercase;
  }

  .video-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 15px;
  }

  .video-preview {
    position: relative;

    time {
      color: $color-white;
      pointer-events: none;
      font-size: ($font-size-enormous / 2);

      @include position(
        $position: absolute,
        $right: 15px,
        $bottom: 15px
      );

      @extend %font-bebasneue-bold;
    }
  }
}

.movie-preview {
  background-color: $color-black;
  overflow: hidden;

  @extend %play-button;

  .movie-preview-bg {
    @include movie-filtered(0.7);
  }

  &:hover {
    .movie-preview-bg {
      @include movie-unfiltered;
    }
  }
}

@mixin video(
  $videos-in-row: 4,
  $video-height: 300px,
  $preview-height: 180px,
  $margin: 20px
) {
  $videos-in-row-medium: ($videos-in-row - 1);

  height: $video-height;
  margin: $margin;

  @extend %grid-#{$grid-columns-count / $videos-in-row};
  @extend %video;

  @media only screen and #{$medium} {
    margin-top: 0;
    margin-right: 0;
    margin-left: $margin;

    @include grid(
      $size: $videos-in-row-medium,
      $margin: $margin
    );

    &:nth-child(#{$videos-in-row-medium}n + 1) {
      margin-left: 0;
    }
  }

  @media only screen and #{$desktop} {
    margin-top: 0;
    margin-right: 0;
    margin-left: $margin;

    @include grid(
      $size: $videos-in-row,
      $margin: $margin
    );

    &:nth-child(#{$videos-in-row-medium}n + 1) {
      margin-left: $margin;
    }

    &:nth-child(#{$videos-in-row}n + 1) {
      margin-left: 0;
    }
  }

  .video-preview {
    // Safari needs it to keep the element’s height which does not fit to its
    // child’s height dynamically.
    min-height: $preview-height;
  }

  .movie-preview {
    height: $preview-height;
  }
}
