@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/bebas-neue-bold/bebasneue_bold-webfont.eot');
  src: url('../fonts/bebas-neue-bold/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebas-neue-bold/bebasneue_bold-webfont.woff2') format('woff2'),
    url('../fonts/bebas-neue-bold/bebasneue_bold-webfont.woff') format('woff'),
    url('../fonts/bebas-neue-bold/bebasneue_bold-webfont.ttf') format('truetype'),
    url('../fonts/bebas-neue-bold/bebasneue_bold-webfont.svg#bebas_neuebold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-bold-webfont.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-bold-webfont.woff') format('woff'),
       url('../fonts/montserrat/montserrat-bold-webfont.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/montserrat/montserrat-regular-webfont.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-regular-webfont.woff') format('woff'),
       url('../fonts/montserrat/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat/montserrat-light-webfont.svg#montserratRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
     url('../fonts/montserrat/montserrat-light-webfont.woff2') format('woff2'),
       url('../fonts/montserrat/montserrat-light-webfont.woff') format('woff'),
       url('../fonts/montserrat/montserrat-light-webfont.ttf') format('truetype'),
       url('../fonts/montserrat/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/lato-bold-webfont.eot');
  src: url('../fonts/lato/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/lato/lato-bold-webfont.woff2') format('woff2'),
       url('../fonts/lato/lato-bold-webfont.woff') format('woff'),
       url('../fonts/lato/lato-bold-webfont.ttf') format('truetype'),
       url('../fonts/lato/lato-bold-webfont.svg#latobold') format('svg');
  font-weight: 700;
  font-style: normal;
}

%font-montserrat-bold {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%font-montserrat-regular {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
}

%font-montserrat-light {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
}

%font-bebasneue-bold {
  font-family: 'Bebas Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%font-lato-bold {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 700;
}

%font-material-design-icons {
  font-family: 'Material-Design-Iconic-Font';
  font-style: normal;
  font-weight: 100;
}


%font-source-code-pro-regular {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 100;
}

%font-lora-regular {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 100;
}
