.tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  max-width: 320px;
  left: 0;
  right: 0;
  bottom: -1000px;
  margin: auto;
  transition: 0.35s;
  transition-timing-function: ease-in-out;
  opacity: 0;
  pointer-events: none;
  will-change: top, left, right, bottom;
}


.tooltip img {
  pointer-events: all;
}

.tooltip-top {
  bottom: 0;
  top: -1000px;
}

.tooltip-left {
  flex-flow: column-reverse;
  left: -1000px;
  bottom: 20vh;
  margin: 0;
}

.explainable-tooltip {
  max-width: 320px;
  border: 3px solid #34b399;
  border-radius: 3px;
  box-shadow: 16px 16px 27px -2px rgba(0, 0, 0, .15);
  transform-origin: 50% 100%;
  transform: scale(0.1);
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.30s;
  pointer-events: all;
  will-change: top, left, right, bottom;


  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 50%;
  background: $color-white;

  @media only screen and #{$medium} {
    position: static;
    margin: initial;
    width: initial;
    height: initial;
  }

}

.tooltip.tooltip-top .explainable-tooltip {
  transform-origin: 50% 0%;
}

.tooltip.tooltip-left .explainable-tooltip {
  transform-origin: 0% 100%;

  @media only screen and #{$medium} {
    margin-left: 30px;
  }
}

.tooltip-bar {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #34b399;
}

.tooltip-bar button {
  background-image: url('/assets/images/icons/close.svg');
  background-size: contain;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  text-indent: -9999px;
  /* sends the text off-screen */
  pointer-events: all;

  &:hover {
    cursor: pointer;
  }
}

.tooltip-body {
  position: relative;
  padding: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  line-height: 24px;

  @extend %font-lora-regular;
}

.tooltip-heading {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;

  @extend %font-source-code-pro-regular;
}

.tooltip-img-bottom,
.tooltip-img-left {
  margin-top: 30px;
}

.tooltip-img-left {
  width: 250px;
}


/* animacje poniżej */

.tooltip.open {
  bottom: 0;
  opacity: 1;
}

.tooltip.open .explainable-tooltip {
  transform: scale(1);
}

.tooltip.tooltip-top.open {
  top: 0;
  opacity: 1;
}

.tooltip.tooltip-top.open .explainable-tooltip {
  transform: scale(1);
}

.tooltip.tooltip-left.open {
  left: 0;
  opacity: 1;
}

.tooltip.tooltip-left.open .explainable-tooltip {
  transform: scale(1);
}


@media (max-width: 767px) {
  .tooltip-img-left, .tooltip-img-bottom, .tooltip-img-top {
    display: none;
  }
  .tooltip-enter-l {
    display: none;
  }
	.tooltip {
		margin: 30px auto;
	}
}

@media (max-height: 600px) {
  .tooltip-img-left, .tooltip-img-bottom, .tooltip-img-top {
    display: none;
  }
  .tooltip .tooltip-top, .tooltip-enter-l {
    display: none;
  }
}
