.standalone-exercise {
  // explainable tooltips bug caused by generated animations.
  // improve this solution later
  overflow: hidden;

  *:focus {
    outline: none !important;
  }

  figure img {
    border: 1px solid $color-purple;
  }

  & figcaption {
    width: 100%;
    text-align: center;

    font-size: 1.4rem;
    line-height: 1.7rem;

    color: $color-purple;

    @extend %font-montserrat-light;
  }
}

textarea {
  display: block;
  width: 100%;
  min-height: 200px;
}

p img {
  max-width: 100%;
}

.locked {
  opacity: 0.5;
  pointer-events: all;
  position: relative;
}

p.snippet.ready.active {
  opacity: 1;
  filter: blur(0);
  transform: scale(1);

  .CodeMirror {
    &-scroll {
      display: block;
    }
    z-index: 1;
  }

}

.tab-switcher li {
  display: flex;
}

p.snippet::after {
  height: 10px;
  display: block;
  background: $color-purple;
  ;
  width: 100%;
  content: '';
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

p.snippet::before {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;

  content: '';
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-image: url('/assets/images/icons/loader.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  animation-name: spin;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: 50% 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.exercise p.snippet {
  position: relative;
  padding: 0;
  padding-top: 40px; // tab switcher height
  will-change: opacity;
  max-width: 100%;
  margin: 70px 10px 40px;
  // change to .loaded
  background: $color-purple;

  min-height: 370px;
  max-height: none;

  @media only screen and #{$medium} {
    height: 370px;
    margin-left: auto;
    margin-right: auto;
  }
}

p.snippet.ready {

  &:not(.active) {
    &:hover {
      cursor: pointer;
    }

    .editor-menu {
      display: none;
    }
  }
  opacity: 0.6;

  @media only screen and #{$medium} {
    transform: scale(0.9);
    filter: blur(1px);
    transition-duration: 0.3s;
    transition-property: transform, filter, opacity;
    transition-timing-function: linear;
  }

  &::before,
  .CodeMirror-scroll {
    display: none;
  }
}

.tab-switcher {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  padding: 0;
  margin: 0;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #696e9e;
}

.tab-switcher::before {
  content: attr(data-snippet-title);
  font-size: 10px;
  display: block;
  background: #696e9e;
  height: 30px;
  width: 95%;
  top: -30px;
  right: 0;
  position: absolute;
  border-radius: 3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.65);
  font-size: 1em;
  line-height: 30px;
  z-index: -1;

  @extend %font-bebasneue-bold;

//  background-image: url('/assets/images/icons/favicon-white.svg');
//  background-position: right 5px top 5px;
//  background-size: contain;
//  background-repeat: no-repeat;
}

.tab-switcher li {
  max-width: 150px;

  border: 1px solid #434354;
  border-bottom: 0;

  overflow: hidden;

  &:not(:last-child):not(.active){
    border-right: none;
  }

  &.active {
    width: 150px;
    max-width: initial;
    flex-shrink: 0;
  }

  &.active + li {
    border-left: none;
  }
}

.tab-switcher-button {
//  outline-color: $color-green;
  width: 100%;
  background: #535573;
  text-align: center;
  color: #AFB7D0;
  height: 30px;
  font-size: 1.4rem; // ems dont work, investigate why
//  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.35);
  border: none;
  text-overflow: ellipsis;
  overflow: hidden;

  @extend %font-montserrat-regular;
}

.tab-switcher-button:hover,
.tab-switcher-button:focus {
  background: #8186a2;
  color: #ffffff;
  cursor: pointer;
}

.tab-switcher li.active .tab-switcher-button {
  background: #AFB7D0;
  color: #ffffff;
  height: 40px;
  text-overflow: clip;
//  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.35);
}

.CodeMirror {
  min-height: 300px;
  line-height: 1.2em;
  pointer-events: all;

  @media only screen and #{$medium} {
    height: 300px;
  }
}

.CodeMirror-fullscreen {
  position: absolute;
  top: 40px; // tabswitcher height
  left: 0;
  width: 100%;
  height: 100%;
}

.CodeMirror-focused {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
//  outline-color: $color-green;
}

.editor-fullscreen {
  padding-top: 0;

  .page-nav {
    box-shadow: none;
  }

  .exercise-content-wrapper {
    overflow: hidden;
    position: relative;
  }

  .snippet.fullscreen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    margin: 0;
    top: 0;
    z-index: 999999;
    background: #1D1F21;
    opacity: 1;

    &::after,
    &::before {
      display: none;
    }

    .CodeMirror {
      display: block;
    }

    .tab-switcher {
      display: flex;
    }


    .CodeMirror {
      height: 100%;
    }
    .editor-menu {
      bottom: 100px;
      right: 10px;
      z-index: 2;

      @media only screen and #{$medium} {
        bottom: 50px;
      }
    }
    .button-fullscreen {
      background-image: url('/assets/images/icons/expand-off.svg');
    }
  }
}

.editor-menu {
  $menu-width: 150px;
  $button-size: 40px;

  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -($menu-width / 2);
  height: $menu-width;
  width: $menu-width;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5000;

  @media only screen and #{$medium} {
    right: -#{$menu-width / 3 - $button-size / 2};
    bottom: -#{$menu-width / 3 - $button-size / 2};
    height: $menu-width;
    width: $menu-width;
    left: initial;
  }

  .menu-trigger {
    border-radius: 50%; // use mixin ormsht
    background: $color-green;
    border: none;
//    outline-color: $color-green;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    transition-property: background-color, transform;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    height: 40px;
    width: 40px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      background-image: url('/assets/images/icons/gear.svg');
      background-size: 20px;
      background-position: center;
      background-repeat: no-repeat;
      pointer-events: none;
      display: block;
      height: 40px;
      width: 40px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: 40px;
    width: $menu-width;
    transform: scale(0) rotateZ(-180deg);
    transform-origin: center center;
    transition: 0.3s transform ease-out;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  li {
    transform-origin: center center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: $menu-width; //150-szerokoscprzycisku
    display: flex;
    justify-content: flex-end;
  }
  li button {
    background-color: $color-purple;
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: none;
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
//    outline-color: $color-green;

    height: $button-size;
    width: $button-size;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    &:hover {
      background-color: $color-green;
    }
  }
  //$color-collection: ('#2980b9', '#c0392b', '#1abc9c', '#f39c12', '#8e44ad');
  $count: 5;
  @for $i from 0 to $count {
    ul li:nth-child(#{$i+1}) {
      transform: rotate(#{$i*360 / $count}deg);
      button {
        transform: rotate(-#{$i*360 / $count}deg) rotateZ(-180deg);
      }
      button[disabled] {
        background-color: #d3d3d3;
        cursor: not-allowed;
      }
    }
  }
  .menu-trigger.open {
    transform: scale(0.8);
    background-color: rgba($color-green, 0.7);

    +ul {
      transform: scale(1) rotateZ(-180deg);
    }
  }
  .button-video {
    background-image: url('/assets/images/icons/video-smth.svg');
  }
  .button-refresh {
    background-image: url('/assets/images/icons/refresh.svg');
  }
  .button-fullscreen {
    background-image: url('/assets/images/icons/expand.svg');
  }
  .button-download {
    background-image: url('/assets/images/icons/download.svg');
  }
}
