.exercise-content {
  @extend %typo-rules;
}


%typo-rules {
  p {
    line-height: 158%;
  }

  @media only screen and #{$mobile-only} {
    .primary-header + .secondary-header {
      margin-top: $offset-base * 2;
    }


    .secondary-header + p {
      margin-top: $offset-base / 4 * 5;
    }

    p + p,
    p + .secondary-header,
    p + img,
    img + p {
      margin-top: $offset-base / 2 * 3;
    }

    p, .primary-header, .secondary-header {
      margin-bottom: 0;
    }


  }
}
