.page-header {
  &.homepage {
    display: block;
    padding: ($offset-base / 2);

    .learn-more {
      display: none;
      min-width: 300px;
      height: 60px;
      border-radius: 30px;
      font-size: $font-size-desktop-medium;
      line-height: 56px;
    }

    @media only screen and #{$medium} {
      min-height: 500px;
      padding: 20px $hero-padding-horizontal-medium;
      // This is hero background image, positioned in the bottom right corner, made a bit smaller.
      background: {
        image: url(bundle-asset('page-header/hero-img.svg'));
        repeat: no-repeat;
        position: 85% 85%;
        size: 70%;
      }

      .learn-more {
        display: inline-block;
        margin-top: $offset-base;
        margin-bottom: ($offset-base * 2);
        font-size: $font-size-desktop-medium;
      }
    }

    @media only screen and #{$desktop} {
      min-height: 730px;
      padding-left: ($offset-base * 3);

      .learn-more {
        margin-top: 125px;
        margin-bottom: 130px;
      }
    }
  }
}
