@at-root {
  $details-height-desktop: 60px;
  $details-height-mobile: 100px;
  $items-offset: 20px;

  .page-header {
    &.profile {
      @extend %profile-header;
    }
  }

  %profile-header {
    min-height: 150px;
    padding: ($offset-base / 2);

    .breadcrumbs {
      display: none;
    }

    .user {
      &-details {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        height: $details-height-mobile;
      }

      &-photo {
        display: none;
        margin-right: ($items-offset / 2);
        background-color: transparent;

        @include equal-sizes($details-height-desktop);
      }

      &-additional-info {
        @extend %profile-header-details-additional;
      }

      &-display-name {
        margin-right: ($items-offset / 2);
        margin-bottom: $items-offset;
        color: $color-white;
        font-size: $font-size-mobile-big;

        @extend %section-title;
      }
    }

    @media only screen and #{$medium} {
      .breadcrumbs {
        display: flex;
        margin-bottom: 20px;

        a {
          color: $color-white;
        }
      }

      .user {
        &-display-name {
          font-size: $font-size-desktop-huge;
        }

        &-details {
          flex-direction: row;
          align-items: flex-start;
          max-width: none;
          height: $details-height-desktop;
          margin-bottom: 0;
        }
      }
    }

    @media only screen and #{$desktop} {
      .user {
        &-photo {
          display: block;
        }
      }
    }
  }

  %profile-header-details-additional {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: $color-lightgrey-text;
    font-size: ($details-height-desktop / 2);

    .user-email {
      flex-basis: 100%;
      margin-bottom: $items-offset;

      @extend %font-bebasneue-bold;
    }

    @media only screen and #{$medium} {
      .user {
        &-email {
          margin-bottom: 0;
        }
      }
    }
  }
}
