%change-password-screen {
  .section-title {
    margin-bottom: $offset-base;
  }

  .new-password {
    // TODO: Ugly selectors. Just until 278 is ready.
    > div {
      display: flex;
      flex-wrap: wrap;

      // God. Wait until 278 is ready.
      // scss-lint:disable SelectorDepth
      // scss-lint:disable NestingDepth
      > div {
        $margin-right: $offset-base;
        $grid-width: 6;

        width: 100%;
        margin-right: $margin-right;

        @media only screen and #{$medium} {
          @include grid(
            $margin: $margin-right,
            $size: ($grid-columns-count / $grid-width)
          );
        }
      }
      // scss-lint:enable SelectorDepth
      // scss-lint:enable NestingDepth
    }

    .form-input-field {
      @extend %grid-12;
    }
  }
}

%hamburger-small {
  $width: 18px;
  $height: 2px;
  $gap: ($height * 2);
  $color: $color-white;

  &::after {
    display: block;
    width: $width;
    height: $gap;
    border: $height solid $color;
    border-right: none;
    border-left: none;
    content: '';
    box-sizing: content-box;

    @media only screen and #{$medium} {
      display: none;
    }
  }
}

%form-fields {
  .form-input-field,
  .dropdown-select {
    margin-right: $offset-base;
    margin-bottom: $form-input-field-offset-bottom;
  }
}

%profile-navigation {
  $vertical-padding: 20px;
  $padding-global: ($offset-base / 2);
  $single-li-height: (($vertical-padding * 2) + #{$font-size-regular});

  display: flex;
  flex-direction: column;
  margin-bottom: $offset-base;
  background-color: $color-grey;
  color: $color-purple;
  list-style: none;

  @extend %font-montserrat-regular;

  &.collapsed {
    max-height: calc(#{$single-li-height} + #{$padding-global} * 2);
    box-shadow: none;
    overflow: hidden;
  }

  li {
    min-height: calc(#{$single-li-height});
    margin-bottom: ($offset-base / 2);
    border-radius: calc(#{$single-li-height});
  }

  li:hover,
  .active {
    background-color: $color-lightgrey-text;

    @extend %href;

    a {
      color: $color-white;
    }
  }

  .active {
    // On mobile, active list element tells the user where he currently is (breadcrumbs are not visible on mobile)
    // Also, it is a trigger for profile navigation list to expand and collapse, and has to be first.
    order: -1;

    a {
      @extend %hamburger-small;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(#{$single-li-height});
    padding: $vertical-padding $offset-base;
    color: $color-purple;

    &:hover {
      color: currentColor;
      text-decoration: none;
      opacity: 1;
    }
  }

  @media only screen and #{$medium} {
    margin-right: $offset-base;

    @include grid(
      $size: 4,
      $margin: $offset-base
    );

    .active {
      // Reset active profile navigation list element order to be default, as we do not want it to be displayed first on desktop and tablet versions.
      order: initial;
    }
  }
}

.profile {
  $offset: ($offset-base / 2);

  .change-password {
    @extend %change-password-screen;
  }

  .group {
    padding: 0;

    .profile-navigation {
      flex-grow: 1;
    }
  }

  &-header {
    margin-bottom: $offset-base;
    color: $color-purple;

    @extend %section-title;
  }

  .container {
    flex-direction: column;
    flex-shrink: 1;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 $offset;

    @extend %form-fields;

    @media only screen and #{$medium} {
      $container-grid-size: 9;

      margin: 0;

      .form-input-field {
        @include grid(
          $size: 2,
          $margin: $offset-base
        );
      }

      @include grid(
        $size: ($grid-columns-count / $container-grid-size),
        $margin: $offset-base
      );
    }

    @media only screen and #{$desktop} {
      .group {
        padding: $offset-base;
      }
    }
  }

  &-navigation {
    position: sticky;
    top: $navbar-height-medium;
    // The property provides that the element’s position will not be changed by
    // position: sticky polyfill while browser window is resizing.
    align-self: flex-start;
    padding: $offset;
    z-index: $z-index-navbar - 1;

    @include box-shadow();

    @extend %profile-navigation;

    @media only screen and #{$medium} {
      top: $navbar-height-medium + ($offset-base / 2);
      padding: 0;
      box-shadow: none;
    }
  }
}


// TODO: Improve styling when 278 is ready.
%wrapped-fields {
  .form-input-field,
  .dropdown-select,
  .field {
    $margin-right: $offset-base;

    width: 100%;
    margin-right: $margin-right;

    @media only screen and #{$medium} {
      @include grid(
        $size: 2,
        $margin: $margin-right
      );
    }

    &:nth-child(2) {
      margin-right: 0;
    }

    .form-input-field,
    .dropdown-select {
      width: 100%;
    }
  }
}

.form-fields {
  h3 {
    &.section-title {
      color: $color-purple;
      font-size: $font-size-desktop-medium;
    }
  }

  .field-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    @extend %wrapped-fields;
  }

  .section-title,
  .profile-address {
    margin-bottom: $offset-base;
  }
}
