@at-root {
  .group-dropdown {
    $margin-bottom: 45px;

    margin: 0 20px;
    margin-bottom: $margin-bottom;
    border-bottom: 1px solid $color-grey-text;

    @extend %hardware-accelerated;

    &.collapsed {
      display: none;
    }

    @media only screen and #{$medium} {
      margin: 0;
      margin-bottom: $margin-bottom;
      border-bottom: none;
      overflow: visible;

      &.collapsed {
        max-height: none;
      }
    }
  }

  .dashboard-section-title {
    @extend %dropdown-triangle-up;

    &.collapsed {
      @extend %dropdown-triangle-down;
    }

    &::after {
      @media only screen and #{$medium} {
        display: none;
      }
    }
  }
}
