.featured-course {
  $offset: 20px;

  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  min-height: 300px;
  padding: $offset;
  background: {
    color: $color-purple;
    image: url(bundle-asset('homepage/featured-bg.svg'));
    repeat: no-repeat;
    position: right -150px bottom $offset;
    size: 320px auto;
  }
  color: $color-white;


  @media only screen and #{$medium} {
    width: 100%;
    min-height: 370px;
    padding-bottom: ($offset * 2);
    background-position: right bottom;
  }

  @media only screen and #{$desktop} {
    background-position: right -50% bottom $offset;

    @include grid(
      $size: ($grid-columns-count / 6)
    );
  }

  .title {
    margin-bottom: auto;
    font-size: $font-size-enormous;
    text-transform: uppercase;

    @extend %font-bebasneue-bold;

    @media only screen and #{$medium} {
      font-size: $font-size-enormous;
    }
  }

  .course-description {
    width: 50%;
    font-size: $font-size-regular;

    @extend %font-montserrat-light;

    p:last-of-type {
      margin-bottom: 25px;
    }

    .button {
      @extend %font-montserrat-regular;
    }
  }

  &.secondary {
    background: {
      color: $color-white;
      image: url(bundle-asset('global/motivator.png'));
      position: right -15px bottom 0;
      size: 320px auto;
    }
    color: $color-purple;
  }
}

.homepage-course-preview {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0 auto $offset-base auto;
  padding: 0;
  border-radius: $border-radius-large;

  @extend %grid-3;

  &.container {
    @media only screen and #{$medium} {
      max-width: none;
      margin-right: 0;
      margin-left: 0;

      @include grid(
        $size: 2,
        $margin: 20px
      );
    }

    @media only screen and #{$desktop} {
      margin-left: 20px;

      @include grid(
        $size: 4
      );
    }
  }

  .thumbnail {
    flex-shrink: 0;
    max-width: 100%;
    height: 265px;
  }

  .course-description {
    $offset: 15px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: $offset;
    padding-top: ($offset * 3);

    .title {
      color: $color-purple-text;
      font-size: $font-size-bigger;
      text-transform: uppercase;

      @include hr;

      @extend %font-bebasneue-bold;
    }

    p {
      color: $color-grey-text;
      font-size: $font-size-regular;
    }

    .button {
      margin-top: auto;
      margin-left: auto;

      @media only screen and #{$desktop} {
        width: 100%;
        padding: 0;
      }
    }
  }
}

.homepage {
  .section-title {
    $default-margin: $offset-base;

    max-width: 300px;
    margin: $default-margin auto;
    margin-top: 0;
    padding: 0;
    color: $color-lightgrey-text;
    font-size: $font-size-giant;
    text-align: center;

    @extend %font-montserrat-light;

    @media only screen and #{$medium} {
      margin: 10px auto;

      &:first-child {
        margin-bottom: ($default-margin + 20px);
      }
    }
  }

  .featured-course {
    .course-description {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
    }

    .button {
      margin-top: auto;
    }

    p {
      // Support: IE 10, 11.
      // This property is needed to prevent flex-container parent overflow by
      // the element.
      max-width: 100%;
    }
  }
}

.our-books {
  @media only screen and #{$medium} {
    min-height: 420px;
    margin-bottom: ($offset-base * 2);
    margin-left: 0;
    background: {
      color: $color-white;
      image: url(bundle-asset('homepage/books-bg.png'));
      repeat: no-repeat;
      position: right bottom;
      size: 70% auto;
    }
  }

  @media only screen and #{$desktop} {
    background-size: auto 90%;
  }

  .about {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;

    .title {
      margin: 0 auto;
      font-size: $font-size-enormous;
      text-transform: uppercase;

      @extend %font-bebasneue-bold;
    }

    .button.cta {
      align-self: flex-end;

      @extend %font-montserrat-regular;
    }

    p:last-of-type {
      margin-bottom: $offset-base;

      @extend %font-montserrat-light;
    }

    @media only screen and #{$medium} {
      @include grid(
        $size: 2
      );

      .button.cta {
        align-self: flex-start;
      }
    }
  }
}

.movies {
  display: flex;

  @media only screen and #{$medium} {
    margin-bottom: $offset-base;
  }
}

.movie {
  $size: 160px;

  display: flex;
  flex-direction: row;
  max-height: $size;
  padding: 0;

  @extend %grid-4;
  @extend %transition-scale-regular;

  @media only screen and #{$medium} {
    margin: 0;
    margin-bottom: 20px;

    @include grid(
      $size: ($grid-columns-count / 6),
      $margin: 20px
    );
  }

  @media only screen and #{$desktop} {
    margin: 0;
    margin-bottom: 20px;

    @include grid(
      $size: ($grid-columns-count / 4)
    );
  }

  &:hover {
    @extend %transition-scale-up;
  }

  &-anchor {
    z-index: $z-index-movie-item;

    @include position(
      $position: absolute,
      $top: 0,
      $bottom: 0,
      $left: 0,
      $right: 0
    );
  }

  .movie-preview {
    position: relative;
    flex-shrink: 0;
    background-color: $color-blue-bg;

    @include equal-sizes($size);

    @extend %play-button;
  }

  .movie-preview-bg {
    pointer-events: inherit;
    position: absolute;
    border-radius: 0;

    @include equal-sizes(100%);
    @include movie-filtered(0.3, 100%, 130%);

    &:hover {
      @include movie-unfiltered;
    }
  }

  .description {
    display: inline-block;
    max-width: 60%;
    padding-top: $offset-base;
    padding-right: ($offset-base / 2);
    padding-left: ($offset-base / 2);

    .title {
      color: $color-purple-text;
      font-size: $font-size-regular;

      @include hr;
      @extend %font-montserrat-regular;
    }

    p {
      color: $color-grey-text;
      font-size: $font-size-small;

      @extend %font-montserrat-light;
    }
  }
}
