body {
  &.top-menu-expanded {
    overflow: hidden;
  }
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $navbar-height-mobile;
  padding: 0 $navbar-padding-horizontal-mobile;
  background: $color-purple-bg;
  color: $color-white;
  z-index: $z-index-navbar;

  @include position(
    $position: fixed,
    $top: 0,
    $right: 0,
    $left: 0
  );

  .user-nav {
    // The property is set in order to achieve the same height as page-nav.
    // It helps to keep consistency in positioning respect to the nav.
    align-self: stretch;
    // Support: Firefox
    // Absolutely positioned shadow affects moving the nav.
    // https://lists.w3.org/Archives/Public/www-style/2015Feb/0411.html
    margin-left: auto;
  }

  .top-menu-wrapper {
    flex-grow: 1;
  }

  // This class adds a shadow to the bottom of page-nav when top menu is being
  // scrolled.
  &.shadow {
    &::after {
      height: 6px;
      content: '';
      z-index: $z-index-navbar;

      @include position(
        $position: absolute,
        $right: 0,
        $bottom: 0,
        $left: 0
      );
      @include box-shadow();
    }
  }

  @media only screen and #{$medium} {
    padding-right: $navbar-padding-horizontal-medium;
    padding-left: $navbar-padding-horizontal-medium;
  }

  @media only screen and #{$desktop} {
    padding-right: $navbar-padding-horizontal;
    padding-left: $navbar-padding-horizontal;
  }
}

.top-menu-wrapper {
  $offset: 20px;

  background: $color-purple-bg;
  z-index: ($z-index-navbar - 1);
  // Make it scrollable when the menu contains more items.
  overflow-y: auto;

  @include position(
    $position: fixed,
    $top: $navbar-height-mobile,
    $right: 0,
    $bottom: 0,
    $left: 0
  );

  @extend %transition-not-opaque;

  &.collapsed {
    opacity: 0;
    pointer-events: none;
  }

  @media only screen and #{$medium} {
    position: static;
    // Overflow content on non-mobile devices has to be visible since it
    // is a dropdown list.
    overflow-y: visible;
    background: transparent;
    z-index: ($z-index-navbar + 1);
  }
}

.top-menu {
  @mixin border-bottom() {
    border-bottom: 1px solid rgba($color-white, 0.3);
  }

  $item-height: 50px;

  margin: 0;
  padding: 0;
  background: $color-purple-dark;
  list-style-type: none;

  ul {
    padding: 0 $navbar-padding-horizontal-mobile;
    list-style-type: none;
  }

  li {
    &:not(:last-of-type) {
      @include border-bottom();
    }
  }

  a {
    $nested-anchor-height: 40px;
    $nested-anchor-padding-right: 15px;
    $nested-anchor-padding-left: 20px;

    display: block;
    height: $nested-anchor-height;
    padding: 0 $nested-anchor-padding-right 0 $nested-anchor-padding-left;
    color: $color-white;
    line-height: $nested-anchor-height;
    text-decoration: none;

    // This is the right-positioned chevron.
    &::after {
      margin-left: auto;
      float: right;
      font-family: 'Material-Design-Iconic-Font';
      font-size: 150%;
      font-weight: 100;
      content: $icon-chevron-right;
    }
  }

  > li {
    display: flex;
    flex-direction: column;

    &:first-of-type > a {
      height: 30px;
    }

    > a {
      display: flex;
      align-items: flex-end;
      height: $item-height;
      padding: 0 $navbar-padding-horizontal-mobile;
      padding-bottom: 5px;
      background: $color-purple-bg;
      font-size: $font-size-desktop-medium;
      line-height: initial;

      @include border-bottom();

      @extend %font-bebasneue-bold;
    }
  }

  @media only screen and #{$medium} {
    $anchor-height: 35px;
    $menu-item-padding-vertical: 20px;

    display: flex;
    background: transparent;

    ul {
      $vertical-offset: 10px;

      display: none;
      margin-top: $vertical-offset;
      padding: 0;
      border-radius: $border-radius-base;
      background: $color-light-grey;
      white-space: nowrap;
      overflow: hidden;

      @include fake-center-horizontal();
      @include box-shadow($color: $user-dropdown-shadow-color);

      li:not(:first-of-type) {
        border-top: 1px solid $color-grey;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $item-height;
        padding: 0 ($offset-base * 2);
        color: $anchor-color-base;
      }

      a:hover {
        background: $user-dropdown-bg-hover;
      }

      a:active {
        background: $user-dropdown-bg-active;
      }

      &::before {
        $arrow-size: 12px;

        transform: rotate(-45deg);
        background: $color-light-grey;
        content: '';
        z-index: $z-index-dropdown-arrow;

        @include equal-sizes($arrow-size);
        @include position(
          // Fixed position is set since the menu has `overflow: hidden` and the
          // arrow has to be visible.
          $position: fixed,
          $top: -($arrow-size / 3),
          $right: calc(50% - #{$arrow-size / 2})
        );
      }

      // This is a "bridge" between dropdown menu and its parent. It’s necessary
      // since the dropdown has a vertical offset so there is a gap between
      // these two which causes the dropdown is never hovered (it hides when
      // user tries to move the cursor over it).
      &::after {
        // Fixed position is set since the menu has `overflow: hidden` and the
        // "bridge" has to be visible.
        position: fixed;
        top: -($vertical-offset);
        right: 0;
        left: 0;
        height: $vertical-offset;
        box-shadow: none;
        content: '';
      }
    }

    li {
      &:not(:last-of-type) {
        border-bottom: none;
      }
    }

    > li {
      display: block;
      position: relative;

      &:first-of-type > a {
        height: $anchor-height;
      }
    }

    > li > a {
      height: $anchor-height;
      padding: 0 $menu-item-padding-vertical;
      border-bottom: none;
      line-height: 1.6;
    }

    > li:hover > a {
      color: $color-lightgrey-text;
    }

    > li:hover ul {
      display: block;
    }

    a {
      // It removes right chevrons from all anchors.
      &::after {
        display: none;
      }
    }
  }
}

.hamburger {
  $bar-width: $hamburger-width;
  $bar-thickness: 2px;
  $bar-color: $color-white;
  $bar-rotation-angle: 45deg;
  $aspect-ratio: 0.5;
  $height: ($aspect-ratio * $bar-width);
  $border: $bar-thickness solid $bar-color;

  @mixin middle-bar($rotation-angle) {
    width: 100%;
    border-top: $bar-thickness solid $color-white;
    content: '';
    transform: rotate($rotation-angle);

    @include position(
      $position: absolute,
      $top: calc(50% - #{$bar-thickness / 2}),
      $left: 0
    );
  }

  display: inline-block;
  position: relative;
  width: $bar-width;
  height: $height;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &::before {
    @include middle-bar($rotation-angle: -$bar-rotation-angle);
  }

  &::after {
    @include middle-bar($rotation-angle: $bar-rotation-angle);
  }

  &.collapsed {
    border-top: $border;
    border-bottom: $border;

    &::before,
    &::after {
      transform: rotate(0);
    }
  }

  @media only screen and #{$medium} {
    display: none;
  }
}

.website-logo {
  img {
    display: flex;
    flex-shrink: 1;
    min-width: 105px;
    max-width: 255px;
    height: 20px;

    @media only screen and #{$medium} {
      height: 30px;
      margin-right: 40px;
    }

    @media only screen and #{$desktop} {
      margin-right: 70px;
    }
  }
}

.user-nav {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  // This is because dropdowns on mobile are positioned with respect to body,
  // not the nav.
  @media only screen and #{$medium} {
    position: relative;
  }

  .dropdown {
    height: $navbar-element-size;
  }

  .anchor {
    $size: $navbar-element-size;

    @include button-alternate($size);
    @include button-round($size);
  }

  .user-cart {
    position: relative;
    margin-right: $offset-base;

    @media only screen and #{$medium} {
      margin-right: 0;
    }
  }

  .login-button {
    margin-right: $navbar-margin-horizontal-mobile;

    @media only screen and #{$medium} {
      margin-right: $navbar-margin-horizontal;
    }
  }

  .user-account {
    $navbar-avatar-size: $navbar-element-size;

    display: flex;
    align-items: center;
    margin: 0;
    margin-right: $navbar-margin-horizontal-mobile;

    @extend %transition-scale-regular;
    @extend %href;
    @extend %cursor-pointer;

    .user-name {
      display: none;
      margin-right: $navbar-margin-horizontal;

      @media only screen and #{$desktop} {
        display: inline;
      }
    }

    .user-photo {
      display: block;
      background-color: transparent;

      @include equal-sizes($navbar-avatar-size);

      @extend %border-round;
    }

    @media only screen and #{$medium} {
      margin-right: $navbar-margin-horizontal;
    }
  }

  .user-notifcations {
    $notification-size: 16px;

    display: inline-block;
    background: $color-red;
    color: $color-white;
    font-size: $font-size-mobile-small;
    line-height: $notification-size;
    text-align: center;
    pointer-events: none;

    @include equal-sizes($notification-size);
    @include position(
      $position: absolute,
      $bottom: 0,
      $right: -($notification-size / 3)
    );

    @extend %font-montserrat-regular;
    @extend %border-round;
  }
}

.page-nav {
  padding: 0 0 0 25px;
  background-color: $color-purple;
  line-height: normal;
  box-shadow: 0 5px 10px 0 $user-dropdown-shadow-color;
  z-index: 999;

  a {
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
  }

  .nav-text {
    padding: 0 10px;
    font-size: 18px;

    @extend %font-bebasneue-bold;
  }

  .website-logo img {
    height: 23px;
    margin: 0;
  }

  .navbar-main-nav {
    display: inline-flex;

    .course-nav {
      display: none;

      @media only screen and #{$desktop} {
        height: 21px;
        margin-right: 60px;
        display: inline-flex;
      }

    }

    .nav-img {
      height: 10px;
    }
  }
}

.navbar-dropdown-trigger::after {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  align-items: center;
  width: 50px;
  height: 50px;
  transition: 0.3s;
  background: {
    color: $color-purple;
    image: url('/assets/images/navbar/menu-btn.svg');
    repeat: no-repeat;
    position: center;
    size: 4px 17px;
  }
  content: '';
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  width: 240px;
  height: auto;
  padding: 15px 0 25px 0;
  transition: 1s;
  background-color: $color-white;
  box-shadow: 0 5px 10px 0 $user-dropdown-shadow-color;
  z-index: 9999;
  display: none;

  a {
    color: $color-lightgrey-text;
    font-size: 14px;
    line-height: 40px;
  }

  a:hover {
    color: $color-purple-dark;
    text-decoration: none;
    cursor: pointer;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    .mobile-only {

      @media only screen and #{$desktop} {
        display: none;
      }
    }
  }

  .social-media-icons::before {
    content: '';
    display: block;
    flex-basis: 100%;
    margin: 25px auto;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-color: $color-grey;
  }

  .social-media-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 25px;

    a {
      transition: 0.3s;
      content: '';
    }

    a:hover {
      transform: scale(1.2);
    }

    .fb-icon::after,
    .twitter-icon::after,
    .yt-icon::after {
      display: block;
      position: relative;
      width: 32px;
      height: 25px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
    }

    .fb-icon::after {
      background-image: url('/assets/images/icons/fb.svg');
    }

    .twitter-icon::after {
      background-image: url('/assets/images/icons/twitter.svg');
    }

    .yt-icon::after {
      background-image: url('/assets/images/icons/yt.svg');
    }
  }

}

.navbar-dropdown-open {
  .dropdown-menu {
    display: block;
  }

  .navbar-dropdown-trigger::after {
    background-color: $color-grey;
    background-image: url('/assets/images/navbar/menu-btn-gray.svg');
    content: '';
  }
}

.dropdown-menu-item {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 30px;
}
