.products-listing {
  $courses-in-row: 3;
  $videos-in-row: 4;

  $course-height: 150px;
  $course-margin-left: $offset-base;
  $course-margin-bottom: 20px;

  padding-top: 45px;

  .section-title {
    $margin-horizontal: 20px;

    margin: 0 $margin-horizontal $offset-base $margin-horizontal;
    color: $color-purple-text;
    font-size: $font-size-gigantic;

    @extend %font-bebasneue-bold;

    @media only screen and #{$medium} {
      font-size: $font-size-enormous;
    }
  }

  .group {
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: $offset-base;
  }

  .cta {
    @include button-alternate(
      $background-color-hover: $color-grey-bg,
      $border-color: $color-grey-bg,
      $text-color: $color-purple-text
    );
  }

  .bought-item {
    // Support: Chrome, Safari
    // Workaround for chrome display bug. See details here
    // https://functionite.atlassian.net/browse/SF-209?focusedCommentId=11305&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-11305
    // crbug: https://bugs.chromium.org/p/chromium/issues/detail?id=157218
    transform: translateZ(0);

    @include course(
      $courses-in-row,
      $course-height,
      $course-margin-left,
      $course-margin-bottom
    );
  }

  .video {
    @include video(
      $videos-in-row
    );
  }
}

.product-item {
  $item-height: 350px;
  $margin: 20px;
  $padding-vertical: $margin;
  $padding-horizontal: 15px;
  $preview-height: 180px;
  $items-in-row: 3;
  $items-in-row-desktop: 4;
  $badge-size: 55px;

  display: flex;
  flex-direction: column;
  max-width: $container-max-width-mobile;
  min-height: $item-height;
  margin: $margin;
  padding: ($offset-base / 3);
  border-radius: $border-radius-large;
  background: $color-white;
  line-height: initial;

  @extend %grid-#{$grid-columns-count / $items-in-row};
  @extend %font-bebasneue-bold;

  &-title {
    margin: 0;
    margin-bottom: ($offset-base / 2);
    font-size: $font-size-mobile-big;
    text-transform: uppercase;
  }

  &-info {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-grow: 1;
    padding: $padding-vertical $padding-horizontal;
    padding-top: $padding-vertical + ($badge-size / 2);

    .button {
      margin-top: auto;
      white-space: nowrap;
    }
  }

  &-duration {
    margin: 0;
    margin-bottom: ($offset-base / 2);
    font-size: $font-size-mobile-medium;
  }

  &-preview {
    height: $preview-height;
    overflow: hidden;
  }

  &-badge {
    $size: $badge-size;

    $color-primary: $color-purple-bg;
    $color-secondary: $color-green;

    display: flex;
    align-items: center;
    height: $size;
    padding-left: $padding-horizontal;
    border-radius: ($size / 2);
    background: $color-primary;
    color: $color-white;
    line-height: $size;

    @include position(
      $position: absolute,
      $right: 0,
      $top: (-$size / 2)
    );
    @include box-shadow(
      $size: 4px,
      $color-opacity: 0.2
    );

    &-text {
      margin-right: $padding-horizontal;
      font-size: $font-size-desktop-medium;
    }

    &.bought {
      background: $color-grey-text;
    }

    &.not-available {
      background: $color-silver;
    }

    &-button {
      @include button-alternate(
        $size,
        $background-color: $color-secondary,
        $border-color: $color-secondary,
        $border-color-hover: $color-white,
        $text-color-hover: $color-secondary
      );
      @include button-round($size);
    }

    > .icon {
      margin-right: ($offset-base / 3);
    }
  }

  @media only screen and #{$medium} {
    margin-top: 0;
    margin-right: 0;
    margin-left: $margin;

    @include grid(
      $size: $items-in-row,
      $margin: $margin
    );

    // Override the default grid gutter size.
    .container ~ & {
      margin-left: $margin;
    }

    &:nth-child(#{$items-in-row}n + 1) {
      margin-left: 0;
    }
  }

  @media only screen and #{$desktop} {
    @include grid(
      $size: $items-in-row-desktop,
      $margin: $margin
    );

    // Revert margin overriden in rule for medium.
    &:nth-child(#{$items-in-row}n + 1) {
      margin-left: $margin;
    }

    &:nth-child(#{$items-in-row-desktop}n + 1) {
      margin-left: 0;
    }
  }
}
