%order-details {
  $details-grid-size: 8;
  $margin: $offset-base;

  width: 100%;

  @media only screen and #{$medium} {
    margin-right: ($margin / 2);

    @include grid(
      $size: ($grid-columns-count / $details-grid-size),
      $margin: ($margin / 2)
    );
  }

  @media only screen and #{$desktop} {
    margin-right: $margin;

    @include grid(
      $size: ($grid-columns-count / $details-grid-size),
      $margin: $margin
    );
  }
}

%summary {
  $details-grid-size: 4;

  width: 100%;

  .total {
    display: flex;
    justify-content: space-between;
    margin-bottom: ($offset-base / 2);
    padding-top: ($offset-base / 2);
    padding-bottom: ($offset-base / 3);
    border-bottom: 2px solid $color-lightgrey-text;
    color: $color-lightgrey-text;

    &-amount {
      color: $color-purple;

      font-size: $font-size-desktop-big;

      @extend %font-bebasneue-bold;
    }
  }

  .proceed,
  .button {
    width: 100%;
  }

  @media only screen and #{$medium} {
    padding: ($offset-base / 2);

    @include grid(
      $size: ($grid-columns-count / $details-grid-size)
    );
  }
}

%bank-transfer {
  .submit {
    display: block;
  }
}

%credit-card {
  .section-title {
    margin-bottom: $offset-base;
  }

  .form-input-field {
    margin-bottom: $form-input-field-offset-bottom;
  }
}

%card-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  // TODO: Ugly selectors. Just until 278 is ready.
  > div {
    position: relative;
    margin-right: $offset-base;

    // This is card-number field and name on the card
    &:first-child,
    &:nth-child(4) {
      flex-basis: 100%;
      width: 100%;

      @media only screen and #{$medium} {
        @include grid(
          $size: ($grid-columns-count / 6),
          $margin: $offset-base
        );
      }
    }

    // Those are expiration month/year fields.
    &:nth-child(2),
    &:nth-child(3), {
      @include grid(
        $size: ($grid-columns-count / 6),
        $margin: $offset-base
      );

      @media only screen and #{$medium} {
        @include grid(
          $size: ($grid-columns-count / 3),
          $margin: $offset-base
        );
      }
    }

    // CVV code
    &:last-child {
      @media only screen and #{$medium} {
        margin-right: auto;
      }
    }
  }
}

.shop {
  display: flex;
  flex-direction: column;
  padding: $offset-base;

  // TODO: Change this values to variable
  fieldset {
    margin: 15px 0;
    border: 1px solid transparent;
  }

  .agreement {
    margin-bottom: $offset-base;

    &-content {
      margin-left: auto;
      padding-left: $offset-base;
      color: $color-lightgrey-text;
      font-size: $font-size-desktop-small;
      text-align: justify;

      @extend %font-montserrat-regular;
    }
  }

  .section-title {
    margin: 0 0 30px 0;
    font-size: $font-size-desktop-big;

    @extend %font-bebasneue-bold;
  }

  .container {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    box-shadow: none;
  }

  .form-fields {
    input,
    .dropdown-select {
      margin-bottom: $offset-base;

      @extend %form-input-field;

      @media only screen and #{$medium} {
        display: block;
        width: 350px;
        margin-right: $offset-base;
        margin-bottom: $offset-base;
        border-color: $color-grey-bg;
      }
    }
  }

  .order-details {
    @extend %order-details;
  }

  .summary {
    @extend %summary;
  }

  .credit-card {
    @extend %credit-card;

    .card-form {
      @extend %card-form;
    }
  }

  .bank-transfer {
    @extend %bank-transfer;
  }
}

.payment-form {
  &[data-type='card'] {
    .method-card {
      display: block;
    }

    .method-transfer {
      display: none;
    }
  }

  &[data-type='transfer'] {
    .method-card {
      display: none;
    }

    .method-transfer {
      display: block;
    }
  }

  .form-fields {
    display: flex;
    flex-direction: column;

    @media only screen and #{$medium} {
      flex-direction: row;
    }
  }

  .personal-details,
  .payment-details {
    display: inline-block;
    @extend %grid-6;
  }

  .cta {
    width: 350px;
  }
}

.ordered-items {
  width: 100%;
  margin-bottom: $offset-base;
  color: $color-purple-text;
  border-collapse: collapse;
  @extend %font-montserrat-regular;

  &-remove {
    padding: 0;

    @extend %cross-close;
  }

  &-form {
    display: flex;
    flex-direction: column;

    .update-items-quantity {
      display: none;
      align-self: flex-end;
      margin-bottom: $offset-base;
    }
  }

  label {
    margin-left: 20px;
  }

  input {
    width: 60px;
    margin-left: 20px;
    border: none;
    color: $color-purple-text;
    text-align: center;
  }

  tr {
    height: 115px;
    border-bottom: 2px solid $color-grey-bg;

    td {
      text-align: left;
    }

    td:not(:first-child) {
      font-size: $font-size-giant;
    }

    td:nth-child(even) {
      text-align: right;
    }

    // align quantity and costs to the right
    td:last-child {
      width: 1%;
      padding-left: 20px;
      white-space: nowrap;
    }
  }
}

.cost-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: ($offset-base / 2);

  .cost-item {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    width: 100%;
    height: 25px;
    margin-bottom: 5px;
    font-size: $font-size-desktop-small;

    .description {
      color: $color-lightgrey-text;
    }

    .value {
      color: $color-purple;
    }

    @extend %font-montserrat-regular;
  }
}

%payment-complete {
  .bought-items {
    margin-bottom: $offset-base;

    h3 {
      color: $color-purple;
    }
  }

  .section-title {
    margin-bottom: $offset-base;
    color: $color-purple;
    font-size: $font-size-desktop-big;
  }
}

.payment {
  &-complete {
    @extend %payment-complete;
  }

  &-methods {
    display: inline-block;
    margin-bottom: $offset-base;

    .section-title {
      font-size: $font-size-desktop-big;
    }
  }

  &-summary {
    @media only screen and #{$medium} {
      position: sticky;
      top: ($navbar-height-medium + $offset-base);
    }
  }
}

// Anchor that leads us back to the first step - ordered-items customization.
.edit-cart {
  $offset: $offset-base;

  @include position(
    $position: absolute,
    $top: $offset,
    $right: $offset
  );
}
