//
// Custom checkboxes
// Usage:
// <div class="checkbox-wrapper">
//   <input type="checkbox" id="checkbox" >
//   <label for="checkbox"> Checkbox </label>
// </div>
//

@at-root {
  $checkbox-size: 20px;
  $checkbox-primary-color: $color-purple;
  $checkbox-secondary-color: transparent;
  $checkbox-tertiary-color: rgba($color-black, 0.1);
  $border-size: $button-border-size;

  // Common styling for fake-checkbox
  %fake-checkbox {
    display: block;
    box-sizing: border-box;
  }

  %fake-checkbox-unchecked {
    &::before {
      border: $button-border-size solid $checkbox-primary-color;
      border-radius: 2px;
      background: $checkbox-secondary-color;
      color: $checkbox-primary-color;
      content: '';

      @include equal-sizes($checkbox-size);
      @include position(
        $position: absolute,
        $top: 0,
        $left: 0
      );

      @extend %fake-checkbox;
    }
  }

  %fake-checkbox-checked {
    &::after {
      color: $checkbox-primary-color;
      font-size: 200%;
      line-height: $checkbox-size;
      content: $icon-check;

      @include position(
        $position: absolute,
        $top: 0,
        // just fits. 2px is border width, 1 px for better alignment
        $left: ($border-size + 1px)
      );

      @extend %fake-checkbox;
      @extend %font-material-design-icons;
    }

    @extend %fake-checkbox-unchecked;
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;

    &:checked ~ label {
      @extend %fake-checkbox-checked;
    }

    &:focus ~ label:not(.error) {
      &::before {
        background: $checkbox-tertiary-color;
        box-shadow: 0 0 4px 0 $color-green;
      }

      @extend %fake-checkbox-unchecked;
    }
  }

  .checkbox-wrapper {
    display: flex;
    position: relative;

    label:not(.error) {
      display: inline-block;
      padding-left: ($checkbox-size + $offset-base / 3);
      color: $checkbox-primary-color;

      @extend %fake-checkbox-unchecked;
    }
  }
}
