// Usage:
// <div class="dropdown-select">
//   <select>
//     <option></option>
//     <option></option>
//   </select>
// </div>

.dropdown-select {
  $dropdown-padding: 10px;

  position: relative;

  // Triangle positioned in top right corner of select
  &::after {
    pointer-events: none;

    @include triangle(
      $height: 6px,
      $width: 10px,
      $right: $dropdown-padding,
      $rotation: 180deg
    );
  }

  select {
    appearance: none;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 2px solid $color-purple;
    border-radius: 0;
    background: none;
    color: $color-purple;
    font-size: $font-size-desktop-small;

    &.validation-error {
      @extend %validation-error-color;
    }

    @extend %font-montserrat-regular;
  }
}
