//
// Custom radio inputs.
// Usage:
// <div class="radio-wrapper">
//   <input type="radio" id="foo" >
//   <label for="foo"> Radio </label>
// </div>
//

@at-root {
  $z-index-unchecked: 0;
  $z-index-checked: 1;
  $radio-size: 20px;
  $check-size: ($radio-size / 2);
  $radio-primary-color: $color-purple;
  $radio-secondary-color: $color-white;


  // Common styling for fake-radios
  %fake-radio {
    display: block;
    border-style: solid;
    border-color: $radio-primary-color;
    content: '';
    box-sizing: border-box;

    @extend %border-round;
  }

  %fake-radio-unchecked {
    &::before {
      border-width: 1px;
      background: $radio-secondary-color;
      z-index: $z-index-unchecked;

      @include position(
        $position: absolute,
        $top: 0,
        $left: 0
      );

      @include equal-sizes($radio-size);

      @extend %fake-radio;
    }
  }

  %fake-radio-checked {

    // Just a ball that appears inside unchecked radio.
    &::after {
      background: $radio-primary-color;
      z-index: $z-index-checked;

      @include position(
        $position: absolute,
        $top: ($radio-size / 2) - ($check-size / 2),
        $left: ($radio-size / 2) - ($check-size / 2)
      );
      @include equal-sizes($check-size);

      @extend %fake-radio;
    }

    // This gives us the 'background' of a radio.
    @extend %fake-radio-unchecked;
  }

  input[type="radio"] {
    appearance: none;
    display: none;
    background-color: $color-white;

    &:checked + label {
      @extend %fake-radio-checked;
    }

    + label {
      padding-left: ($radio-size * 1.5);
      color: $radio-primary-color;

      @extend %fake-radio-unchecked;
    }
  }

  .radio-wrapper {
    position: relative;
    height: $radio-size;
    line-height: $radio-size;
  }
}
